main {
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    max-height: 500px; 
    display: flex;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .event-form {
    margin-bottom: 20px;
    width: 700px;;
  }
  
  .event-form label {
    display: block;
    color: #210124;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .event-form input[type="text"],
  .event-form input[type="email"],
  .event-form input[type="date"],
  .event-form input[type="time"],
  .event-form select,
  .event-form textarea {
    background-color: #D9D9D9;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .event-form textarea {
    height: 100px;
    resize: none;
  }
  
  .buttons-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .buttons-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
  }
  
  .buttons-form button[type="button"] {
    background-color: #D9D9D9;
    color: #210124;
    margin-left: 10px;
    margin-bottom: 10px;
  }