:root {
    width: 100vw;
    display: flex;
    justify-content: center;
    scrollbar-width: none;
    min-width: 360px;
    --color-shaddow: #00000040;
    --color-header-footer: #0B545F;
    --color-backgroung: #FDFFFC;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    color: white;


}

* {
    margin: 0;
    padding: 0;
}
main{
    background-color: var(--color-backgroung);
}

header,footer {
    display: flex; 
    align-items: center; 
    background-color: var(--color-header-footer) ; 
    width: 95vw; 
   
    padding: 0px 40px; 
    box-shadow: 0px 4px 40px 0px var(--color-shaddow);
}

header{
    height: 150px; 
    justify-content: space-between; 

}

footer{
    height: 21vw;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    
}
    
#logo {
    display: flex;
    
}

#logo-name{
    display: flex;
    align-items: center;
    text-shadow: 0px 4px 4px var(--color-shaddow);
    
    font-size: 50px;
    font-weight: 700;

}

#pfp {
    height: 120px;
    width: 120px;
    margin-right:10px ;
    border: 3px solid black;
    border-radius: 50%;
    
}

#logoimg:hover, #pfp:hover {
    transform: scale(1.05);
    
}


.footer-contact{
    display: flex;
    gap: 10px;

}

footer a:hover{
    transform: scale(1.15);
}

#contact{
    display: flex;
    align-items: center;
    text-shadow: 0px 4px 4px var(--color-shaddow);
   
    font-weight: 700;
    font-size: 30px;

}


.scrollup {
    width: 50px;
    height: 50px;
    opacity: 0.5;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    text-indent: -9999px;
    background: url('/images/top_up.png') no-repeat;
   }



/* Small Devices (phones) */
@media screen and (max-width: 600px) {
    #pfp, #logoimg{
        width: 100;
        height: 100;
        padding: 0;
    }
    #logo-name{
        font-size: 35px;
    }
    header{
        height: 120px;
    }
    #contact{
        font-size: 25px;
    }
    footer img{
        width:40 ;
        height:40 ;
    }
  }
  
/* Medium Devices (tablets and small laptops) */
@media screen and (max-width: 900px)  {
  
}

/* Large Devices (large desktops) */
@media screen and (min-width: 1201px) {
 
}
  