:root{
  --color-search-section-font: #000000;
  --color-profile-info:#E9E3E3;
  --color-search-bar:#D9D9D9;
  --color-black-text: #000;
  --color-black-border: #000;
  --color-white-text: #fff;
  --color-shaddow: #00000040;
  --color-header-footer: #0B545F;
  --color-card: #31A57A;
  --color-card-hover:#238e66;
  --color-backgroung: #FDFFFC;

}

input {
    all: unset;
}



#search-input{
    color: var(--color-black-text);
    font-size: 30px;
    font-weight: 700;
    padding: 6px 10px;
    width: 91%;

}

#search-form {
    display: flex;
    align-items: center;
    width: 60vw;
    height: 64px;
    border-radius: 20px;
    background-color: var(--color-search-bar) ;
}

#search-form:hover{
    border: var(--color-card) solid 4px;
    transform: scale(1.025);

}



.search-section button{
  all: unset;
  cursor: pointer;
  width: 50px;
  margin: 5px;
}

.search-section button:hover{
  transform: scale(1.15);
}

#create-button-under{
    display: none;
  }
  #create-button-inline{
    visibility: visible;
  }



@media screen and (max-width: 717px) {
    
    #search-form {
        display: flex;
        align-items: center;
        width: 80vw;
        height: 60px;
        border-radius: 20px;
        background-color: var(--color-search-bar) ;
    }
    
     .search-section{
        
               
            display:flex;
            align-items: center;
            justify-content: center;
    } 

    #create-button-under{
        display: flex;
    }
    #create-button-inline{
        display: none;
    }
    
  }

